
<div class="card">
    <div class="card flex justify-center">
        <p-stepper [value]="1" class="basis-[50rem]">
            <p-step-list>
                <p-step [value]="1">Informations Personnelles</p-step>
                <p-step [value]="2">Informations Légales</p-step>
                <p-step [value]="3">Informations Professionnelles</p-step>
                <p-step [value]="4">Documents Client</p-step>
                <p-step [value]="5">Informations sur le compte</p-step>
                <p-step [value]="6">Vérification</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">

                        <form [formGroup]="personalInfoForm">
                           
                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="nom" formControlName="nom" autocomplete="off" />
                                        <label for="nom">Nom</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="prenoms" formControlName="prenoms" autocomplete="off" />
                                        <label for="prenoms">Prénoms</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>


                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="civilite" formControlName="civilite" autocomplete="off" />
                                        <label for="civilite">Civilité</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="nom_jeune_fille" formControlName="nom_jeune_fille" autocomplete="off" class="p-fluid" />
                                        <label for="nom_jeune_fille">Nom de jeune fille</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                       

                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <p-datepicker  [iconDisplay]="'input'" [showIcon]="true" inputId="date_naissance" />
                                        <label for="date_naissance" > Date de naissance </label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="lieu_naissance" formControlName="lieu_naissance" autocomplete="off"/>
                                        <label for="lieu_naissance">Lieu de naissance</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>


                            <p-fluid class="flex gap-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="nationalite" formControlName="nationalite" autocomplete="off"/>
                                        <label for="nationalite">Nationalité</label>
                                    </p-floatlabel>
                                </div>
                            </p-fluid>
                         

                        
                            
                            
                    
                       
                        </form>

                        <div class="flex flex-col h-48">
                           
                            <div class="flex pt-6 justify-end">
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>
    
                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">

                        <form [formGroup]="legalInfoForm">
                           
                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="type_piece_identite" formControlName="type_piece_identite" autocomplete="off" />
                                        <label for="type_piece_identite">Type de piece d'identite</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="numero_piece_identite" formControlName="numero_piece_identite" autocomplete="off" />
                                        <label for="numero_piece_identite">Numero de piece d'identite</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>


                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <p-datepicker  id="validite" [showIcon]="true" [iconDisplay]="'input'"  formControlName="validite" autocomplete="off" />
                                        <label for="validite">Validite</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="pays_residence" formControlName="pays_residence" autocomplete="off" class="p-fluid" />
                                        <label for="pays_residence">Pays de residence</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                       

                            <p-fluid class="flex gap-4 mb-4">
                                
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="source_revenus" formControlName="nom_prenoms_representant_legal" autocomplete="off"/>
                                        <label for="nom_prenoms_representant_legal">Nom et prenoms du representant legal</label>
                                    </p-floatlabel>
                                </div>

                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="qualite_representant_legal" formControlName="qualite_representant_legal" autocomplete="off"/>
                                        <label for="qualite_representant_legal">Qualite de representant legal</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                       
                        </form>

                        <div class="flex pt-6 justify-between">
                            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" />
                        </div>
                    </ng-template>
                </p-step-panel>
    
                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                       <form [formGroup]="professionalInfoForm">
                           
                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="profession" formControlName="profession" autocomplete="off" />
                                        <label for="profession">Profession</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="employeur" formControlName="employeur" autocomplete="off" />
                                        <label for="employeur">Employeur</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>


                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <p-datepicker  id="date_embauche" [showIcon]="true" [iconDisplay]="'input'"  formControlName="date_embauche" autocomplete="off" />
                                        <label for="date_embauche">Date d'embauche</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="secteur_activite" formControlName="secteur_activite" autocomplete="off" class="p-fluid" />
                                        <label for="secteur_activite">Secteur d'activite</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                       

                            <p-fluid class="flex gap-4 mb-4">
                                
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="source_revenus" formControlName="source_revenus" autocomplete="off"/>
                                        <label for="source_revenus">Source de revenus</label>
                                    </p-floatlabel>
                                </div>

                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="montants_revenus_mensuels" formControlName="montants_revenus_mensuels" autocomplete="off"/>
                                        <label for="montants_revenus_mensuels">Montants de revenus mensuels</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                       
                        </form>

                        <div class="flex pt-6 justify-between">
                            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(3)" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)" />
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="4">
                    <ng-template #content let-activateCallback="activateCallback">
                        <p-toast />
        <p-fileupload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*" maxFileSize="1000000"  (onSelect)="onSelectedFiles($event)">
    <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
        <div class="flex flex-wrap justify-between items-center flex-1 gap-4">
            <div class="flex gap-2">
                <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" />
                <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
                <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
            </div>
            <p-progressbar [value]="totalSizePercent" [showValue]="false" class="w-full" styleClass="md:w-20rem h-1 w-full md:ml-auto">
                <span class="whitespace-nowrap">{{ totalSize }}B / 1Mb</span>
            </p-progressbar>
        </div>
    </ng-template>
    <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
        <div class="flex flex-col gap-8 pt-4">
            <div *ngIf="files?.length > 0">
                <h5>Pending</h5>
                <div class="flex flex-wrap gap-4">
                    <div *ngFor="let file of files; let i = index" class="p-8 rounded-border flex flex-col border border-surface items-center gap-4">
                        <div>
                            <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                        </div>
                        <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                        <div>{{ formatSize(file.size) }}</div>
                        <p-badge value="Pending" severity="warn" />
                        <p-button icon="pi pi-times" (click)="onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true" severity="danger" />
                    </div>
                </div>
            </div>
            <div *ngIf="uploadedFiles?.length > 0">
                <h5>Completed</h5>
                <div class="flex flex-wrap gap-4">
                    <div *ngFor="let file of uploadedFiles; let i = index" class="card m-0 px-12 flex flex-col border border-surface items-center gap-4">
                        <div>
                            <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                        </div>
                        <span class="font-semibold text-ellipsis max-w-60 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                        <div>{{ formatSize(file.size) }}</div>
                        <p-badge value="Completed" class="mt-4" severity="success" />
                        <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true" [rounded]="true" severity="danger" />
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #file></ng-template>
    <ng-template #empty>
        <div class="flex items-center justify-center flex-col">
            <i class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"></i>
            <p class="mt-6 mb-0">Drag and drop files to here to upload.</p>
        </div>
    </ng-template>
</p-fileupload>
<div class="flex pt-6 justify-between">
    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(4)" />
    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(5)" />
</div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="5">
                    <ng-template #content let-activateCallback="activateCallback">
                        <form [formGroup]="compteForm">
                           
                            <p-fluid class="flex gap-4 mb-4">
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="numero_compte" formControlName="numero_compte" autocomplete="off" />
                                        <label for="numero_compte">Numero de compte</label>
                                    </p-floatlabel>
                                </div>
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="agence" formControlName="agence" autocomplete="off" />
                                        <label for="agence"> Agence</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>


                            <p-fluid class="flex gap-4 mb-4">
                                
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="numero_client" formControlName="numero_client" autocomplete="off" class="p-fluid" />
                                        <label for="numero_client">Numero client</label>
                                    </p-floatlabel>
                                </div>

                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="exploitant" formControlName="exploitant" autocomplete="off" class="p-fluid" />
                                        <label for="exploitant">Exploitant</label>
                                    </p-floatlabel>
                                </div>
                                
                            </p-fluid>

                       

                            <p-fluid class="flex gap-4 mb-4">
                                
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="motif_fiche_kyc" formControlName="motif_fiche_kyc" autocomplete="off"/>
                                        <label for="motif_fiche_kyc">Motif de la fiche kyc</label>
                                    </p-floatlabel>
                                </div>

                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="ouverture_compte_personne_residente" formControlName="ouverture_compte_personne_residente" autocomplete="off"/>
                                        <label for="ouverture_compte_personne_residente">Ouverture du compte de personne residente</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                            <p-fluid class="flex gap-4 mb-4">
                                
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="type_operation" formControlName="type_operation" autocomplete="off"/>
                                        <label for="type_operation">Type d'operation</label>
                                    </p-floatlabel>
                                </div>

                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="produits_services_client" formControlName="produits_services_client" autocomplete="off"/>
                                        <label for="produits_services_client">Produits services client</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                            <p-fluid class="flex gap-4 mb-4">
                                
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="operation_internationale_envisages_constates" formControlName="operation_internationale_envisages_constates" autocomplete="off"/>
                                        <label for="operation_internationale_envisages_constates">Operation internationale envisages constates</label>
                                    </p-floatlabel>
                                </div>

                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="pays_transaction_effectues" formControlName="pays_transaction_effectues" autocomplete="off"/>
                                        <label for="pays_transaction_effectues">Pays transaction effectues</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>

                            <p-fluid class="flex gap-4 mb-4">
                                
                           
                                <div class="flex-auto">
                                    <p-floatlabel>
                                        <input pInputText id="devise_transaction_effectues" formControlName="devise_transaction_effectues" autocomplete="off"/>
                                        <label for="devise_transaction_effectues">Devise de la transaction effectues</label>
                                    </p-floatlabel>
                                </div>
                              
                            </p-fluid>
                       
                        </form>
                        <div class="flex pt-6 justify-between">
                            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(5)" />
                            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(6)" />
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="6">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                            >
                                Content III
                            </div>
                        </div>
                        <div class="flex pt-6 justify-start">
                            <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>

            </p-step-panels>
            
            
        </p-stepper>
    </div>
    <button pButton pRipple label="Nouveau compte" class="ml-2" icon="pi pi-plus" (click)="ecranAccueilCompteParticulier()" ></button>
</div>

