@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Figtree', sans-serif;
}
