<div class=" !bg-blue-600  card">
    <div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
        <div class="font-bold mr-8">🔥 Hot Deals!</div>
        <div class="align-items-center hidden lg:flex">
            <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span>
        </div>
        <a class="flex align-items-center ml-2 mr-8">
            <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
        </a>
        <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
            <i class="pi pi-times"></i>
        </a>
    </div>
    <div class="flex flex-row-reverse gap-4">

        <div class=" flex max-w-sm items-center gap-x-4 rounded-xl bg-red-200 dark:bg-gray-800 p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
            <img class="size-12 shrink-0" src="../../../../assets/images/rate.svg" alt="ChitChat Logo" />
            <div>
              <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
              <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
            </div>
          </div>

          <div class=" flex max-w-sm items-center gap-x-4 rounded-xl bg-green-200 p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
            <img class="size-12 shrink-0" src="../../../../assets/images/rate.svg" alt="ChitChat Logo" />
            <div>
              <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
              <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
            </div>
          </div>

          <div class=" flex max-w-sm items-center gap-x-4 rounded-xl bg-blue-200 p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
            <img class="size-12 shrink-0" src="../../../../assets/images/rate.svg" alt="ChitChat Logo" />
            <div>
              <div class="text-xl font-medium text-black dark:text-white">ChitChat</div>
              <p class="text-gray-500 dark:text-gray-400">You have a new message!</p>
            </div>
          </div>

        
    </div>
</div>


<div class="card">
    <p-table
        #dt1
        [value]="listeClientParticuliers"
       
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rows]="5"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session">

        <div class="grid">
            <div class="col-6 ">
              <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                      <i class="pi pi-search"></i>
                  </span>
                  <input
                      pInputText
                      type="text"
                      placeholder="Rechercher client"
                  />
              </div>
            </div>
            <div class="col-6 ">
              <p-button label="Nouvelle facture" icon="pi pi-plus" [raised]="true" [rounded]="false" class="p-button-sm primaryColor" />
            </div>
      </div>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="numeroFacture" style="width:20%">
                    Numéro de facture
                </th>
                <th pSortableColumn="entreprise" style="width:20%">
                    Entreprise
                </th>
                <th pSortableColumn="montantTotal" style="width:17%">
                    Montant total
                </th>
                <th pSortableColumn="montantTotal" style="width:17%">
                    Montant restant
                </th>
                <th pSortableColumn="statut" style="width:10%">
                    Statut <p-sortIcon field="statut" />
                </th>
                <th pSortableColumn="status" style="width:20%">
                    Actions
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-facture>
            <tr [pSelectableRow]="facture">
                <td>
                    <span class="p-column-title">Numéro</span>
                   {{facture.numeroFacture}}
                </td>
                <td>
                    <span class="p-column-title">Entreprise</span>

                    <span class="ml-1 vertical-align-middle"> jdsfb</span>
                </td>
                <td>
                    <span class="p-column-title">Montant</span>

                    <span class="ml-1 vertical-align-middle">dfb</span>
                </td>
                <td>
                    <span class="p-column-title">Montant restant</span>

                    <span class="ml-1 vertical-align-middle">jbj</span>
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    <span class="ml-1 vertical-align-middle">hih </span>

                </td>
                <td class="flex flex-wrap items-center justify-content-center gap-4">
                    <div class="flex items-center gap-1"  pTooltip="Modifier la facture"
                    tooltipPosition="right" >
                        <span><i class="pi pi-pencil icon-action" ></i></span>
                    </div>

                    <div class="flex items-center gap-1"  pTooltip="Supprimer la facture"
                    tooltipPosition="right" >

                       <span><i class="pi pi-trash icon-action" ></i></span>
                    </div>

                    <div class="flex items-center gap-1"  pTooltip="Voir les differents paiements"
                    tooltipPosition="right" >
                        <span><i class="pi pi-credit-card icon-action" ></i></span>
                    </div>

                    <div class="flex items-center gap-1"  pTooltip="Voir les details de la facture"
                    tooltipPosition="right">
                        <span><i class="pi pi-eye icon-action" ></i></span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" style="text-align: center;">Aucune facture trouvée</td>
            </tr>
        </ng-template>
    </p-table>
</div>



